@use 'src/style/foundations' as *;

.ExplicitGrid {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
  grid-template-rows: 12rem 3rem;
  // grid-auto-rows: minmax(3rem, 14rem); // and the implicit one?
  grid-template-columns: 3rem 80% 1fr 2fr;
  &_item {
    @include gridItem();
  }
}
